/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}
.App {
  background-color: #100e1d;
  display: flex;
}
@media (max-width: 425px) {
  .App {
    flex-direction: column;
  }
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forecast-and-highlights {
  padding: 2% 10% 5%;
  width: 100%;
}
@media (max-width: 425px) {
  .forecast-and-highlights {
    padding: 2% 6% 5%;
  }
}
.temp-btns {
  margin-bottom: 4%;
  width: 99%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 425px) {
  .temp-btns {
    display: none;
  }
}
.temp-btns button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  margin-left: 1%;
  background-color: #585676;
  color: #e7e7eb;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
.temp-btns .temp-btn--active {
  background-color: #e7e7eb;
  color: #110e3c;
}
.sidebar {
  background-color: #1e213a;
  height: 100vh;
  min-width: 25%;
  max-width: 25%;
  padding: 2%;
  overflow: hidden;
}
@media (max-width: 425px) {
  .sidebar {
    min-width: 100%;
    padding: 3% 3% 7%;
  }
}
.sidebar .location-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .location-btns button {
  color: #e7e7eb;
  background-color: #6e707a;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.sidebar .search-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2% 3%;
}
.sidebar .current-loc-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar .weather-icon-cont {
  height: 20%;
  margin: 30% auto 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  .sidebar .weather-icon-cont {
    height: 8%;
    margin-top: 40%;
  }
}
.sidebar .background-img {
  opacity: 10%;
  width: 180%;
  position: absolute;
}
.sidebar .weather-icon {
  margin: 0 auto;
}
.sidebar .weather-info {
  text-align: center;
  margin-top: 35%;
}
@media (max-width: 425px) {
  .sidebar .weather-info {
    margin-top: 30%;
  }
}
.sidebar .temperature p {
  font-size: 14.4rem;
  font-weight: 500;
  color: #e7e7eb;
}
@media (max-width: 425px) {
  .sidebar .temperature p {
    font-size: 12rem;
  }
}
.sidebar .temperature span {
  font-size: 4.8rem;
  font-weight: 400;
  color: #a09fb1;
}
@media (max-width: 425px) {
  .sidebar .temperature span {
    font-size: 4rem;
  }
}
.sidebar .weather-type {
  margin: 18% 0;
  color: #a09fb1;
  font-size: 3.6rem;
  font-weight: 600;
}
@media (max-width: 425px) {
  .sidebar .weather-type {
    margin: 10% 0;
  }
}
.sidebar .date {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #88869d;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 425px) {
  .sidebar .date {
    width: 70%;
  }
}
.sidebar .location {
  margin-top: 8%;
  color: #88869d;
  font-size: 1.8rem;
  font-weight: 600;
}
.sidebar .location svg {
  margin-right: 2%;
}
.sidebar-search {
  position: fixed;
  padding-top: 1%;
  top: 0;
  left: -25%;
  z-index: 1;
  transition: 0.4s ease;
}
@media (max-width: 425px) {
  .sidebar-search {
    left: -100%;
    padding-top: 2%;
  }
}
.sidebar-search .close-btn {
  border: none;
  background-color: transparent;
  color: #e7e7eb;
  width: 7%;
  font-size: 2.5rem;
  margin-left: 93%;
  text-align: center;
  cursor: pointer;
}
.sidebar-search form {
  margin-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-search form .search-icon {
  color: #616475;
  position: absolute;
  margin-left: 2%;
  font-size: 1.6rem;
}
.sidebar-search form input {
  font-size: 1.6rem;
  font-weight: 500;
  color: #e7e7eb;
  border: 1px solid #e7e7eb;
  background-color: transparent;
  padding: 0.8em;
  padding-left: 2em;
  width: 72%;
}
.sidebar-search form input::placeholder {
  color: #616475;
}
.sidebar-search form button {
  color: #e7e7eb;
  background-color: #3c47e9;
  border: 1px solid #3c47e9;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8em;
  width: 25%;
}
.sidebar-search .search-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.sidebar-search .search-history .search-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  margin-bottom: 5%;
  color: #e7e7eb;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.sidebar-search .search-history .search-option:hover {
  border-color: #616475;
}
.sidebar-search .search-history .search-option:hover svg {
  visibility: visible;
}
.sidebar-search .search-history .search-option svg {
  color: #616475;
  visibility: hidden;
}
.sidebar-search--open {
  left: 0;
}
.forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 22vh;
}
@media (max-width: 425px) {
  .forecast {
    height: auto;
    flex-wrap: wrap;
    margin-top: 5%;
    padding: 8% 9% ;
  }
}
.forecast .weather-card {
  background-color: #1e213a;
  color: #e7e7eb;
  font-size: 1.6rem;
  font-weight: 500;
  width: 15%;
  height: 100%;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .forecast .weather-card {
    min-height: 24vh;
    margin-bottom: 10%;
    width: 45%;
  }
}
.forecast .weather-card img {
  margin: 3% auto 20%;
  width: 70%;
}
.forecast .weather-card .temperatures {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.forecast .weather-card .min-temp {
  color: #a09fb1;
}
.highlights {
  margin-top: 8%;
  height: 45vh;
}
@media (max-width: 425px) {
  .highlights {
    height: auto;
  }
}
.highlights h2 {
  color: #e7e7eb;
  font-size: 2.4rem;
  font-weight: 700;
}
.highlights .highlight-cards {
  height: 100%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .highlights .highlight-cards {
    margin-top: 8%;
  }
}
.highlights .highlight-card {
  color: #e7e7eb;
  background-color: #1e213a;
  width: 47%;
  height: 40%;
  padding: 3%;
  text-align: center;
  margin-top: 5%;
}
@media (max-width: 425px) {
  .highlights .highlight-card {
    margin: 0 auto 5%;
    width: 100%;
    height: 20vh;
    padding: 8%;
  }
}
.highlights .highlight-card h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3%;
}
.highlights .highlight-card p {
  font-size: 6.4rem;
  font-weight: 700;
}
@media (max-width: 425px) {
  .highlights .highlight-card p {
    margin-bottom: 10%;
  }
}
.highlights .highlight-card span {
  font-size: 3.6rem;
  font-weight: 400;
}
.highlights .top-card {
  height: 50%;
  margin: 0;
}
@media (max-width: 425px) {
  .highlights .top-card {
    height: 30vh;
    margin-bottom: 5%;
  }
}
.highlights .wind-direction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  margin: 4% auto 0;
}
.highlights .wind-direction .compass {
  width: 30px;
  height: 30px;
  padding: 20%;
  margin-right: 10%;
  background-color: #616475;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlights .wind-direction span {
  font-size: 1.4rem;
  font-weight: 500;
}
.highlights .percentage-display {
  width: 80%;
  margin: 2% auto 0;
}
.highlights .percentage-display .percentage-numbers {
  display: flex;
  justify-content: space-between;
}
.highlights .percentage-display .percentage-bar {
  height: 8px;
  background-color: #e7e7eb;
  border-radius: 80px;
  margin: 2% 0;
}
.highlights .percentage-display .bar-filled {
  height: 8px;
  background-color: #ffec65;
  border-radius: 80px;
}
.highlights .percentage-display span {
  color: #a09fb1;
  font-size: 1.2rem;
  font-weight: 700;
}
.highlights .percentage-display .percent-symbol {
  margin-left: 97%;
}
