* {
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap");
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap");
  font-family: "Raleway", sans-serif;
}

.App {
  background-color: @bg-dark;
  display: flex;
}

.forecast-and-highlights {
  padding: 5% 10%;
  width: 100%;
}
