// colors
@bg-light: #1e213a;
@bg-dark: #100e1d;
@text-white: #e7e7eb;
@text-gray: #a09fb1;

// escapes
@laptop-large: ~"(max-width: 1440px)";
@laptop: ~"(max-width: 1024px)";
@tablet: ~"(max-width: 768px)";
@mobile-large: ~"(max-width: 425px)";
@mobile: ~"(max-width: 375px)";
@mobile-small: ~"(max-width: 320px)";